<section>
    <h3>Requests Standard Joomla</h3>
<canvas data-chart="bar">
<!--
{
 "data": {
  "labels": ["JS"," CSS"," Font"],
  "datasets": [
   {
    "data":[8,2,2],
    "label":"Requests","backgroundColor":"rgba(20,220,220,.8)"
   }
  ]
 },
 "options": { "responsive": "true"}
}
-->
</canvas>
</section>
<section>
    <h3>Ziel</h3>
<canvas data-chart="bar">
<!--
{
 "data": {
  "labels": ["JS"," CSS"],
  "datasets": [
   {
    "data":[1,1],
    "label":"Requests","backgroundColor":"rgba(20,220,220,.8)"
   }
  ]
 },
 "options": { "responsive": "true"}
}
-->
</canvas>
</section>