<section data-state="hidekick">
    <h2 class="noupper">Webhook</h2>
    <img src="{{ site.baseurl }}/images/webhook.jpg" width="800">
</section>
<section data-state="hidekick">
    <h2 class="noupper">Kickdeploy</h2>
    <img src="{{ site.baseurl }}/images/kickdeploy.jpg" width="500">
</section>
<section data-state="hidekick">
    <h2 class="noupper">Webhook einrichten</h2>
    <img src="{{ site.baseurl }}/images/webhook_1.jpg" width="600">
</section>
<section data-state="hidekick">
    <h2 class="noupper">Webhook erfolgreich</h2>
    <img src="{{ site.baseurl }}/images/ping.jpg" width="600">
</section>
<section data-state="hidekick">
    <h2 class="noupper">Lokal</h2>
    <img src="{{ site.baseurl }}/images/kicktestlocal.jpg" width="600">
</section>
<section data-state="hidekick">
    <h2 class="noupper">E-Mail</h2>
    <img src="{{ site.baseurl }}/images/kickdeploymail.jpg" width="600">
</section>
<section data-state="hidekick">
    <h2 class="noupper">Call</h2>
    <img src="{{ site.baseurl }}/images/payloads.jpg" width="700">
</section>
<section data-state="hidekick">
    <h2 class="noupper">Live</h2>
    <img src="{{ site.baseurl }}/images/kicktestlive.jpg" width="600">
</section>